body,
html {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1971ba;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Courgette";
  color: #fff;
  font-size: 3em;
  margin-bottom: 0.1em;
}

h3 {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #1971b9;
  margin-bottom: 0;
}